{% extends 'base.html' %}
{% block Title %}room page{% end %}
{% block content %}

<div id="body">
    <div id="inbox">
        {% for message in messages %}
        {% raw message['html'] %}
        {% end %}
    </div>

    <div id="input">
        <form action="#" method="post" id="messageform">
            <table>
                <tr>
                    <td>
                        <input name="body" id="message" style="...">
                    </td>
                    <td style="...">
                        <input type="submit" value="提交">
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>

{% end %}
{% block extra_scripts %}
<script src="{{ static_url('js/chat.js') }}" type="text/javascript"></script>
{% end %}